bin/
obj/
.suo
*.user

node_modules/

example-solution/invalid/.vs/Helixbase-Invalid/config/applicationhost.config
example-solution/valid/.vs/Helixbase/config/applicationhost.config

example-solution/invalid/packages/
