name: Helix Check - Invalid

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  check_job:
    name: Helix check
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: npm setup
        run: |
          npm install
#         npm run all

      - name: Helix check action step
        uses: ./ # Uses an action in the root directory
        id: check
        with:
          solution-file: 'example-solution/invalid/Helixbase-Invalid.sln'
          project-name: 'Helixbase'
      
      - name: Get the check result
        run: echo "Check result - ${{ steps.check.outputs.result }}"
      
      - name: Get the output time
        run: echo "The time was - ${{ steps.check.outputs.time }}"

#      - name: Setup .NET Core
#        uses: actions/setup-dotnet@v1
#        with:
#          dotnet-version: 3.1.101

#      - name: Install dependencies
#        run: dotnet restore

#      - name: Build
#        run: dotnet build --configuration Release --no-restore

#      - name: Test
#        run: dotnet test --no-restore --verbosity normal


#on: [push]

#jobs:
#  hello_world_job:
#    runs-on: ubuntu-latest
#    name: A job to say hello
#    steps:
#      # To use this repository's private action, you must check out the repository
#      - name: Checkout
#        uses: actions/checkout@v2
#      - name: Hello world action step
#        uses: ./ # Uses an action in the root directory
#        id: hello
#        with:
#          who-to-greet: 'Mona the Octocat'
#      # Use the output from the `hello` step
#      - name: Get the output time
#        run: echo "The time was ${{ steps.hello.outputs.time }}"
